## Normally these would not be ignored of course!
R/RcppExports.R
R/RcppR6.R
inst/include/examples/RcppR6_post.hpp
inst/include/examples/RcppR6_pre.hpp
inst/include/examples/RcppR6_support.hpp
src/Makevars
src/RcppExports.cpp
src/RcppR6.cpp
man
