## Normally these would not be ignored of course!
R/RcppExports.R
R/rcppr6.R
inst/include/examples/rcppr6_post.hpp
inst/include/examples/rcppr6_pre.hpp
inst/include/examples/rcppr6_support.hpp
src/Makevars
src/RcppExports.cpp
src/rcppr6.cpp
man
